<a href="https://colab.research.google.com/github/BrunoSasaki/-Data-Challenge-20221121/blob/main/DataChallenge20221121.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
dfn = pd.read_csv('/content/netflix_titles.csv')
display(dfn)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [4]:
dfa = pd.read_csv('/content/amazon_prime_titles.csv')
display(dfa)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...
...,...,...,...,...,...,...,...,...,...,...,...,...
9663,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaN,1940,7+,60 min,Comedy,New York City street principles get an East Si...
9664,s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,NaN,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve..."
9665,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou..."
9666,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ..."
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w..."

In [44]:
df = pd.concat([dfn, dfa])

# contando o número de vezes que cada país aparece
country_counts = df.groupby("country").size()

# obtendo os 5 países com mais ocorrências
top_countries = country_counts.sort_values(ascending=False).head(5)

# imprimindo os resultados
print("Top 5 países produtores de conteúdo:")
print(top_countries)

Top 5 países produtores de conteúdo:
country
United States     3071
India             1201
United Kingdom     447
Japan              247
South Korea        199
dtype: int64

In [21]:
actor_counts = df["cast"].value_counts()

# obtendo os 10 atores/atrizes com mais ocorrências
top_actors = actor_counts.head(10)

# imprimindo os resultados
##print("Top 10 atores/atrizes:")
print(top_actors)

Maggie Binkley                                                                             56
1                                                                                          34
Anne-Marie Newland                                                                         24
David Attenborough                                                                         21
Cassandra Peterson                                                                         21
Grace Tamayo, Erin Webbs                                                                   17
Jeff Dunham                                                                                14
Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jigna Bhardwaj, Rajesh Kava, Mousam, Swapnil    14
Gene Autry, Champion, Gail Davis                                                           12
Stevin John                                                                                11
Name: cast, dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18475 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       18475 non-null  object
 1   type          18475 non-null  object
 2   title         18475 non-null  object
 3   director      13759 non-null  object
 4   cast          16417 non-null  object
 5   country       8648 non-null   object
 6   date_added    8952 non-null   object
 7   release_year  18475 non-null  int64
 8   rating        18134 non-null  object
 9   duration      18472 non-null  object
 10  listed_in     18475 non-null  object
 11  description   18475 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.8+ MB

In [29]:
dfa["date_added"] = pd.to_datetime(dfa["date_added"])
dfa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    datetime64[ns]
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 906.5+ KB

In [35]:
dfa["month_added"] = dfa["date_added"].dt.month
dfa

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,month_added
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,3.0
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,3.0
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,2021-03-30,2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,3.0
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,2021-03-30,2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",3.0
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,2021-03-30,1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9663,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaT,1940,7+,60 min,Comedy,New York City street principles get an East Si...,NaN
9664,s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,NaT,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve...",NaN
9665,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaT,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou...",NaN
9666,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaT,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ...",NaN
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaT,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...",NaN

In [32]:
# contando o número de vezes que cada mês aparece
month_counts = dfa["month_added"].value_counts()

In [33]:
most_common_month = month_counts.index[0]

In [34]:
print("Mês com mais adições de filmes na Netflix:", most_common_month)

Mês com mais adições de filmes na Netflix: 9.0

In [36]:
# contando a quantidade de filmes com gênero "Comédia"
comedy_count = df[df["listed_in"].str.contains("Comedy", na=False)].shape[0]

# imprimindo o resultado
print("Quantidade de filmes listados como comédia:", comedy_count)

Quantidade de filmes listados como comédia: 2498

In [37]:

# criando uma lista com todos os gêneros de filmes
genres = set()
for genres_string in df["listed_in"]:
    genres_list = genres_string.split(",")
    for genre in genres_list:
        genres.add(genre.strip())

# imprimindo a lista de gêneros na tela
print("Lista de todos os gêneros de filmes:")
for genre in sorted(genres):
    print(genre)

Lista de todos os gêneros de filmes:
Action
Action & Adventure
Adventure
Animation
Anime
Anime Features
Anime Series
Arthouse
Arts
British TV Shows
Children & Family Movies
Classic & Cult TV
Classic Movies
Comedies
Comedy
Crime TV Shows
Cult Movies
Documentaries
Documentary
Docuseries
Drama
Dramas
Entertainment
Faith & Spirituality
Faith and Spirituality
Fantasy
Fitness
Historical
Horror
Horror Movies
Independent Movies
International
International Movies
International TV Shows
Kids
Kids' TV
Korean TV Shows
LGBTQ
LGBTQ Movies
Military and War
Movies
Music & Musicals
Music Videos and Concerts
Reality TV
Romance
Romantic Movies
Romantic TV Shows
Sci-Fi & Fantasy
Science & Nature TV
Science Fiction
Spanish-Language TV Shows
Special Interest
Sports
Sports Movies
Stand-Up Comedy
Stand-Up Comedy & Talk Shows
Suspense
TV Action & Adventure
TV Comedies
TV Dramas
TV Horror
TV Mysteries
TV Sci-Fi & Fantasy
TV Shows
TV Thrillers
Talk Show and Variety
Teen TV Shows
Thrillers
Unscripted
Western
Young Adult Audience
and Culture

In [38]:
# contando a frequência de "TV Show" na Netflix
netflix_tv_shows = dfn[dfn["type"] == "TV Show"].shape[0]

# contando a frequência de "TV Show" na Amazon
##amazon_tv_shows = df_amazon[df_amazon["type"] == "TV Show"].shape[0]

# imprimindo os resultados na tela
print("Frequência de 'TV Show' na Netflix:", netflix_tv_shows)
##print("Frequência de 'TV Show' na Amazon:", amazon_tv_shows)

Frequência de 'TV Show' na Netflix: 2676

In [39]:
# contando a frequência de "TV Show" na Amazon
amazon_tv_shows = dfa[dfa["type"] == "TV Show"].shape[0]

# imprimindo os resultados na tela
##print("Frequência de 'TV Show' na Netflix:", netflix_tv_shows)
print("Frequência de 'TV Show' na Amazon:", amazon_tv_shows)

Frequência de 'TV Show' na Amazon: 1854

In [40]:
# contando a frequência de "Movie" na Netflix
netflix_movies = dfn[dfn["type"] == "Movie"].shape[0]

# contando a frequência de "Movie" na Amazon
amazon_movies = dfa[dfa["type"] == "Movie"].shape[0]

# imprimindo os resultados na tela
print("Frequência de 'Movie' na Netflix:", netflix_movies)
print("Frequência de 'Movie' na Amazon:", amazon_movies)

Frequência de 'Movie' na Netflix: 6131
Frequência de 'Movie' na Amazon: 7814